  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-blue elevation-4">
    <!-- Brand Logo -->
    <a href="Home/Index" class="brand-link">
        <img src="~/adminlte/dist/img/credit/ninooFeliz.jpg" alt=" "
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-bolder">Niño Feliz</span>
    </a>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview"
            role="menu" data-accordion="true">

            @if (User.IsInRole("Administrador"))
            {
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de datos personales
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Parentezco"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Parentezco</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Encargado"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Encargado</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="Abonadore"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Abonador</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="Ninno"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Niño</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NinnoEncargado"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Niño Encargado</p>
                            </a>
                        </li>


                    </ul>
                </li>



                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Transacciones
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Matricula"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Matricula</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="RegistroBaja"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Registro de baja</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="EncargadoMatricula"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Encargado de matricula</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="EncargadoRegistroDeBaja"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Encargado registro de baja</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="AbonadorCargoMensuale"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Abonador cargo mensuales</p>
                            </a>
                        </li>


                    </ul>
                </li>



                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones internas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Asistencia"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Asistencia</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="UsoComedore"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Uso de comedor</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="CargoMensuale"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Cargo mensual</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de menus
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Ingrediente"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Ingrediente</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Plato"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Plato</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Menu"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="PlatoIngrediente"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Plato Ingrediente</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="MenuPlato"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>MenuPlato</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NinnoMenu"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>NinnoMenu</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de las alergias
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="TipoAlergia"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>TipoAlergia</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Alergia"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Alergia</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NinnoAlergiaIngrediente"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Niño alergia ingrediente</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NaiPlato"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>NaiPlato</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de Guarda
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsGuarda"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Responsables de los niños</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones del cliente
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsMatricula"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Matricula</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsAbonadorCargoMensual"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Cargo mensual</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Auth"
                       asp-action="Login" class="nav-link">
                        <i class="fas fa-user-friends"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            }

            @*SECRETARIO*@
            @if (User.IsInRole("Secretario"))
            {
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de datos personales
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">


                        <li class="nav-item">
                            <a asp-area="" asp-controller="Encargado"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Encargado</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="Abonadore"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Abonador</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="Ninno"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Niño</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NinnoEncargado"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Niño Encargado</p>
                            </a>
                        </li>


                    </ul>
                </li>



                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Transacciones
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">


                        <li class="nav-item">
                            <a asp-area="" asp-controller="RegistroBaja"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Registro de baja</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="EncargadoMatricula"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Encargado de matricula</p>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-area="" asp-controller="EncargadoRegistroDeBaja"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Encargado registro de baja</p>
                            </a>
                        </li>



                    </ul>
                </li>



                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-map-marker-question"></i>
                        <p>
                            Gestiones internas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Asistencia"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Asistencia</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="CargoMensuale"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Cargo mensual</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Auth"
                       asp-action="Login" class="nav-link">
                        <i class="fas fa-user-friends"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            }

            @if (User.IsInRole("AsistenteSalud"))
            {
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de las alergias
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="TipoAlergia"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>TipoAlergia</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Alergia"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-bars"></i>
                                <p>Alergia</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NinnoAlergiaIngrediente"
                               asp-action="Index" class="nav-link">
                                <i class="fa fa-search-plus"></i>
                                <p>Niño alergia ingrediente</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NaiPlato"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>NaiPlato</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Auth"
                       asp-action="Login" class="nav-link">
                        <i class="fas fa-user-friends"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            }

            @if (User.IsInRole("Seguridad"))
            {
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de Guarda
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsGuarda"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Responsables de los niños</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Auth"
                       asp-action="Login" class="nav-link">
                        <i class="fas fa-user-friends"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            }

            @if (User.IsInRole("AsistenteComedor"))
            {
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones de Asistente
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsIngrediente"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Ingredientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsPlatoIngrediente"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Plato Ingredientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsPlato"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Plato</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsMenuPlato"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Menu plato</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsMenu"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Menu</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Auth"
                       asp-action="Login" class="nav-link">
                        <i class="fas fa-user-friends"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            }

            @if (User.IsInRole("Cliente"))
            {
                <li class="nav-item has-treeview menu-close" aria-expanded="false">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-wrench"></i>
                        <p>
                            Gestiones del cliente
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsMatricula"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Matricula</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ConsAbonadorCargoMensual"
                               asp-action="Index" class="nav-link">
                                <i class="fas fa-store"></i>
                                <p>Cargo mensual</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Auth"
                       asp-action="Login" class="nav-link">
                        <i class="fas fa-user-friends"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            }

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
</aside>