@model IEnumerable<WebNinnoFeliz.Models.ViewModels.MatriculaNinno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido</h1>
<h2>Esta a punto de hacer una matricula</h2>
<h3>Presiones el boton de Create new, para iniciar la matricula</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

