@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

    @*<img src="~/n.jpg"  alt="" width="100%"/>*@
<div>
    <img src="~/n-removebg-preview.png" alt="1000" width="1000" />
</div>
    